<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.yezi.text"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".TextApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".widget.MyRecycleview"/>
        <activity android:name=".activity.SearchViewActivity"/>
        <activity android:name=".activity.AdapterSampleActivity"/>
        <activity
            android:name=".activity.AnimatorSampleActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activity.RecycleviewItemtouchhelperActivity"/>
        <activity android:name=".activity.CanvasActivity"/>
        <activity android:name=".activity.ImageLoaderActivity"/>
        <activity android:name=".activity.LikeAnimationActivity"/>
        <activity android:name=".activity.OkhttpTestActivity"/>
        <activity android:name=".activity.CalendarActivity"/>
        <activity android:name=".activity.BezierActivity"/>
        <activity android:name=".activity.DataBindingActivity"/>
        <activity android:name=".activity.DataBinding2Activity"/>
        <activity android:name=".activity.QQBezierListActivity"/>
        <activity android:name=".activity.TouchActivity"/>
    </application>

</manifest>
